{
  "name": "rdf-converter-test",
  "version": "1.0.0",
  "description": "Test to see if Gulp rdf-converter works",
  "main": "gulpfile.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "Apache-2.0",
  "dependencies": {
    "del": "^2.2.0",
    "gulp": "github:gulpjs/gulp#4.0",
    "gulp-rename": "^1.2.2",
    "rdf-converter": "github:njirem/rdf-converter"
  }
}
